/*@import './base.css';*/
@import "metroTheme.css";


/*@import "./flex.css";*/

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
}
nav {
    margin: 0 !important;
    padding: 0 !important;
    width:300px !important;
}
header {
    height: 65px;
}

.justify-between {
    justify-content: space-between;
}

.cardHolder {
    grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
    gap: 2em;
}

@media screen and (min-width: 768px) {
    .content {
        grid-template-columns: 20% 1fr;
    }
}

/*#app {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/

/*  font-weight: normal;*/
/*}*/

/*a,*/
/*.green {*/
/*  text-decoration: none;*/
/*  color: hsla(160, 100%, 37%, 1);*/
/*  transition: 0.4s;*/
/*}*/

/*@media (hover: hover) {*/
/*  a:hover {*/
/*    background-color: hsla(160, 100%, 37%, 0.2);*/
/*  }*/
/*}*/

/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/

/*  #app {*/
/*    !*display: grid;*!*/
/*    !*grid-template-columns: 1fr 1fr;*!*/
/*    padding: 0 2rem;*/
/*  }*/
/*}*/